extends base

block content
  br
  .container
    .jumbotron
      .container
        h1.display-4 Movie Search App
        p.lead
          | Welcome to the movie search app. Feel free to use the search bar.
          | You can also favorite movies while viewing the movie details to
          | save them for later viewing. Hope you enjoy.
  .container
    .jumbotron
      form#searchForm2(action='/results' method='post' event.preventDefault)
        input#searchText2.form-control(type='text' name='searchWords' placeholder='Search Movies...')
        br
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit' style='float: right;')
          | Search